.nav-link {
    text-decoration: none;
    color: gray;
    /* Default link color */
}

.nav-link:hover {
    color: blue;
    /* Hover color */
}

.nav-link.active {
    color: blue;
    /* Active link color */
    border-bottom: 2px solid blue;
    /* Underline */
    transition: border-bottom 0.5s ease-in;
}
.dropdown-content {
  width: 6rem;
  background-color: black;
  color: white;
  padding: 6px;
  border-radius: 0.5rem;
  border: 3px solid rgb(17, 17, 162); 
}
